#--------------------------

RewriteEngine on
RewriteBase /

#--------------------------

AddDefaultCharset utf-8
Options -Indexes

#--------------------------

RewriteRule ^.htaccess$ - [F]

#--------------------------

DirectoryIndex index.php
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1

#--------------------------